body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(254, 254, 255);
  color: rgb(0, 29, 77);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.wrapper {
  background-color: #fff;
  width: 450px;
  border-radius: 12px;
  box-shadow: 0 3px 5px;
}

.form {
  padding: 2.5rem 3rem;
}

.form header {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(1, 49, 125);
}

.form form {
  margin: 20px 0;
}

.form form .error-txt {
  color: #721c24;
  background-color: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form form .name-details {
  display: flex;
}

.form form .name-details .field:first-child {
  margin-right: 10px;
}

.form form .field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.form form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid rgb(0, 85, 222);
  border-radius: 5px;
  outline: 0;
}

.form form .field label {
  margin-bottom: 10px;
}

.form form .field i {
  position: absolute;
  right: 15px;
  top: 70%;
  color: #ccc;
  transform: translateY(-40%);
  cursor: pointer;
}
.form form .button button {
  margin-top: 13px;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: 600;
  background-color: rgb(0, 29, 77);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.form form .button button:hover{
  background-color: rgb(0, 68, 179);
}
.form .link {
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}
.form .link a {
  color: #333;
}
.form .link a:hover {
  text-decoration: underline;
}

/* Users Area CSS code */

.Users {
  padding: 25px 30px;
}

.Users header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 85, 222);
}

.Users header .content img {
  width: 50px;
  height: 50px;
}

.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}

:is(.Users, .users-list) .content{
    display: flex;
    align-items: center;
}

:is(.Users, .users-list) .details{
    color: #000;
    margin-left: 15px;
}

:is(.Users, .users-list) .details span{
    font-size: 18px;
    font-weight: 500;
}

.Users header .logout{
    color: #fff;
    background: rgb(1, 49, 125);
    border-radius: 5px;
    font-weight: 600;
    padding: 7px 18px;
}

.Users header .logout:hover{
    background-color: rgb(176, 0, 0);
}

.Users .search{
    margin: 20px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Users .search .text{
    font-size: 18px;
}

.Users .search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 70px;
    outline: none;
}

.Users .search input:focus{
    border-color: rgb(0, 85, 222);
}

.Users .search button{
    cursor: pointer;
    width: 42px;
    height: 42px;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgb(0, 29, 77);
    font-size: 17px;
    border-radius: 21px;
}

.Users .search button:hover{
    background: rgb(0, 68, 179);
}

.users-list {
    max-height: 300px;
    overflow-y: auto;
}

:is(.users-list, .chat-box)::-webkit-scrollbar{
    width: 0;
}
.users-list a div{
    padding: 2px 5px;
    border-radius: 5px;
}

.users-list a div:hover{
    background: rgb(0, 68, 179);
    color: white;
}

.users-list .content{
    color: #000;
}
.users-list .details{
    color: inherit;
}

.user-img{
    position: relative;
}

.user-img .status-dot,
.user-img .status-dot-offline{
    position: absolute;
    bottom: 0;
    right: 0;
}

.users-list a .content img{
    height: 40px;
    width: 40px;
}

.users-list a .content p{
    font-weight: 300;
}

.users-list a .status-dot{
    font-size: 12px;
    color:rgb(0, 217, 0);
}

/* chat */

.chat-area header{
  display: flex;
  align-items: center;
  padding: 18px 30px;
}

.chat-area header img{
  height: 45px;
  width: 45px ;
  margin: 0 15px;
}

.chat-area header .b-icon{
  font-size: 18px ;
  color: #121834;
}

.chat-area header span{
  font-size: 17px;
  font-weight: 500;
}

.chat-box .chat p{
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.chat-box .chat{
  margin: 15px 0;
}

.chat-box{
  overflow-y: auto;
  height: 500px;
  background: rgb(239, 246, 255);
  padding: 10px 30px 20px 30px;
}

.chat-box .out,
.chat-box .in{
  display: flex;
}

.out .details{
  margin-left: auto;
  max-width:  calc(100% - 130px);
}

.out .details p{
  background: rgb(0, 68, 179);
  color: white;
  border-radius: 18px 18px 0 18px;
}

.in .details{
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}

.in .details p {
  background-color: white;
  border-radius: 18px 18px 18px 0px;
}

.chat-box .in{
  align-items: flex-end;
}
.chat-box .in img{
  height: 30px;
  width: 30px;
}

.chat-area .typing-area{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}


.typing-area input{
  height: 45px;
  width: calc(100% - 120px);
  border: 1px solid rgb(91, 96, 103);
  border-radius: 50px;
  outline: none;
  padding: 10px;
}

.typing-area input:focus{
  border-color: rgb(0, 93, 243);
}

.typing-area button{
  width: 55px;
  border: none;
  outline: none;
  background-color: rgb(0, 68, 179);
  border-radius: 50px;
  color: white;
}

.typing-area .even{
  height: 40px;
  width: 40px;
}

.typing-area button:hover{
  background-color: rgb(0, 93, 243);
}
